<h1>Listing groups</h1>

<%= link_to 'New group', new_group_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>URL</th>
    <th colspan="3"></th>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.id %></td>
      <td><%= group.title %></td>
      <td><%= group.description %></td>
      <td><%= group.url %></td>
      <td><%= link_to 'Show', group_path(group) %></td>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
      <td><%= link_to 'Destroy', group_path(group),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
