<p>
  <strong>Title:</strong>
    <%= @group.title %>
</p>

<p>
  <strong>Description:</strong>
    <%= @group.description %>
</p>

<p>
  <strong>URL:</strong>
    <%= @group.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @group.logo.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %> |
<%= link_to 'Destroy', group_path(@group),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
