<h1>Welcome to Rascal!</h1>

<p>Rascal is an open source shared calendar system, for all users to share their
knowledge of events in their area. Click the links above to get started!</p>

<p>Show me:</p>
<%= form_tag send("events_path"), :method => "get", :class=>"form-search" do %>
        <div class="input">
        <%= text_field_tag(:city, params[:city].try(:squeeze," "), :placeholder => "City" + ' ...', :class => "search-query") %>
        <%= text_field_tag(:dist, params[:dist].try(:squeeze," "), :placeholder => "Distance" + ' ...', :class => "search-query") %>
        <button class="btn btn-inverse search-query" type="submit">Search</button>
        </div>
      <% end %>
