<h1>Listing Events</h1>

<%= link_to 'New Event', new_event_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Group</th>
    <th>URL</th>
    <th>Actions</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= link_to event.venue.title, venue_path(event.venue) %></td>
      <td><%= link_to event.group.title, group_path(event.group) %></td>
      <td><%= event.url %></td>
      <td>
        <%= link_to 'Show', event_path(event), class: "btn btn--color-positive" %>
        <%= link_to 'Edit', edit_event_path(event), class: "btn btn--color-warning" %>
        <%= link_to 'Destroy', event_path(event),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn--color-negative" %>
      </td>
    </tr>
  <% end %>
</table>
