<p>
  <strong>Title:</strong>
    <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
    <%= @event.description %>
</p>

<p>
  <strong>Venue:</strong>
    <%= link_to @event.venue.title, venue_path(@event.venue) %>
</p>

<p>
  <strong>Group:</strong>
    <%= link_to @event.group.title, group_path(@event.group) %>
</p>

<p>
  <strong>URL:</strong>
    <%= @event.url %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Destroy', event_path(@event),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
