<%= form_for @venue, html: {class: 'labels-default'} do |f| %>

	<div class='row'>
		<div class='grid-12'>
      <% if @venue.errors.any? %>
        <%= field_set_tag nil, class: 'invalid' do %>
        <div id="error_explanation" class="message message--color-negative">
          <h2>
            <%= pluralize(@venue.errors.count, "error") %> prohibited
            this venue from being saved:
          </h2>
          <ul>
            <% @venue.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <%= field_set_tag do %>
      <%= label_tag 'Venue Name *' %>
      <%= f.text_field :title %>
      <%= label_tag 'Venue URL' %>
      <%= f.text_field :url %>
    <% end %>

    <%= field_set_tag do %>
      <%= label_tag 'Description' %>
      <%= f.text_area :description %>
    <% end %>

    <%= field_set_tag do %>
      <%= label_tag 'Address' %>
      <div class="has-inline-elements">
        <%= f.text_area :address %>
        <span class="inline-btn-group">
          <a href="#" id="update-map" class="btn btn--color-positive" type="button">Update map!</a>
        </span>
      </div>
    <% end %>

    <div class="row">
      <div class="grid-8">
        <div id="map"></div>
      </div>
      <div class="grid-4">
        <%= field_set_tag do %>
          <%= label_tag 'Lat' %>
          <%= f.text_field :latitude %>
          <%= label_tag 'Long' %>
          <%= f.text_field :longitude %>
          <%= label_tag 'Zoom' %>
          <%= f.text_field :zoom %>
          <a href="#" id="find-on-map" class="btn btn--color-positive" type="button">Find on map!</a>
        <% end %>
      </div>
    </div>

    <%= f.submit %>

  </div>
<% end %>
