<h1>Listing venues</h1>

<%= link_to 'New venue', new_venue_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>URL</th>
    <th colspan="3"></th>
  </tr>

  <% @venues.each do |venue| %>
    <tr>
      <td><%= venue.id %></td>
      <td><%= venue.title %></td>
      <td><%= venue.description %></td>
      <td><%= venue.address %></td>
      <td><%= venue.latitude %></td>
      <td><%= venue.longitude %></td>
      <td><%= venue.url %></td>
      <td><%= link_to 'Show', venue_path(venue) %></td>
      <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
      <td><%= link_to 'Destroy', venue_path(venue),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
