<p>
  <strong>Title:</strong>
    <%= @venue.title %>
</p>

<p>
  <strong>Description:</strong>
    <%= @venue.description %>
</p>

<p>
  <strong>Address:</strong>
    <%= @venue.address %>
</p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.latitude},#{@venue.longitude}&markers=#{@venue.latitude},#{@venue.longitude}&zoom=#{@venue.zoom || "15"}&size=640x400&key=#{ENV["GOOGLE_API_KEY"]}",
              class: 'img-fluid img-rounded', alt: "#{@venue.title} on the map"%>

<p>
  <strong>URL:</strong>
    <%= @venue.url %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %> |
<%= link_to 'Destroy', venue_path(@venue),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
