header {
  background-color:#FFF;
  height:130px;
  left:0;
  margin:0;
  padding:40px;
  position:fixed;
  top:0;
  width:100%;
  z-index:10;
}

/***** Menu *****/
.menu {
  list-style:none;
  margin:0;
  padding:0;
  text-align:left;
  border-bottom: none;
}

.bottom {
  align-self: flex-end;
  margin-bottom: 0px;
}

.menu li { 
  display:inline-block;
  height:51px;
  line-height:51px;
  margin:0;
  padding:0;
}

/***** Nav *****/
.main-nav {
  display:inline-block;
  border-top: 1px solid skyblue;
  border-left: 1px solid skyblue;
  border-right: 1px solid skyblue;
  border-radius: 10px 10px 0px 0px;
}

.main-nav ol {
  list-style:none;
  margin:0;
  padding:0;
}
.main-nav li {
  margin:0;
  padding:0;
}


.main-nav li a {
  -moz-transition:color .2s ease 0s;
  -o-transition:color .2s ease 0s;
  -webkit-transition:color .2s ease 0s;
  color: black;
  padding:16px 10px;
  text-decoration:none;
  transition:color .2s ease 0s;
}
.main-nav li a:hover,
.main-nav li.current a
.main-nav li.current a:target { 
  -moz-transition:color .2s ease 0s;
  -o-transition:color .2s ease 0s;
  -webkit-transition:color .2s ease 0s;
  color: white;
  transition:color .2s ease 0s;
  background-color: skyblue;
  border-radius: 10px 10px 0px 0px;
}

/***** Section *****/
.section {
  left:0;
  overflow:hidden;
  position:relative;
  top:0;
}

