<!DOCTYPE html>
<html>
  <head>
    <title>Rascal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"
                                       async defer></script>

  </head>

  <body>
    <!-- <header> -->
      <div class="row">
          <div class="grid-1" style="border-bottom: 1px solid skyblue">
            <%= image_tag "ABCLogo.svg" %>
          </div>
          <div class="grid bottom" style="border-bottom: 1px solid skyblue">
              <ol class="menu">
                <li class="main-nav">
                  <ol>
                    <li><a href="/">Home</a></li>
                    <li><%= link_to 'Events', controller: 'events' %></li>
                    <li><%= link_to 'Groups', controller: 'groups' %></li>
                    <li><%= link_to 'Venues', controller: 'venues' %></li>
                  </ol>
                </li>
              </ol>
          </div>
      </div>
    <!-- </header> -->
    <div class="row">  
      <div class="grid">
        <br />  
        <%= yield %>
      </div>
    </div>    
  </body>
</html>
